{% extends 'main.html' %} {% load static %} {% block content %} {% include 'alerts.html' %}


<div class="bg-gray-300 flex font-sans text-sm font-bold">
    <div class="w-[70%] p-4 bg-white rounded-l-lg shadow-lg">
        <div class="title mb-20">
            <h4 class="text-2xl"><b>Shopping Cart</b></h4>
            <div class="flex justify-between items-center text-right text-gray-500">3 items</div>
        </div>

        <div class=" text-[#000]" style="display: none;" id="empty_cart">
            <h4 class="text-2xl"><b>Cart is Empty</b></h4>
        </div>
        
                <ul class="space-y-4">
                    {% if cart_items %}
        {% for item in cart_items %}
        <li id='cart-item-{{item.id}}' class="flex justify-between items-center">
            <img src="{{ item.fooditem.image.url }}" alt="{{ item.fooditem.food_title }}" class="w-16 h-16 object-cover rounded">
            <div class="flex flex-col">
            <span class="font-semibold">{{ item.fooditem.food_title }}</span>
            <a href="{% url 'vendor-detail' item.fooditem.vendor.vendor_slug %}" class="text-yellow-500 text-sm font-semibold">{{item.fooditem.vendor}}</a>
            </div>
            <span class="text-green-600">${{ item.fooditem.price }}</span>
            <div class='flex gap-5'>
            <span class="decrease_cart cursor-pointer bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-blue-700" data-id="{{ item.fooditem.id }}" id="{{item.id}}" data-url="{% url 'decrease-cart' item.fooditem.id %}">-</span>
            <label id="qty-{{item.fooditem.id}}" class="text-blue-500 text-lg font-semibold">0</label>
            <span class="add_to_cart cursor-pointer bg-blue-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-blue-700" data-id="{{ item.fooditem.id }}" data-url="{% url 'add-to-cart' item.fooditem.id %}">+</span>
            <span class="delete_cart cursor-pointer bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-blue-700" data-id="{{ item.id }}" data-url="{% url 'delete-cart' item.id %}">
                <i class="fa fa-trash"></i>
            </span>
            </div>
            
        </li>
        {% endfor %}
        {% else %}
        <div class="">
            <h4 class="text-2xl"><b>Cart is Empty</b></h4>
        </div>
        {% endif %}
    </ul>
                

               {% for item in cart_items %}

               <span id="qty-{{item.fooditem.id}}" class="hidden item-qty text-blue-500 text-lg font-semibold" data-qty="{{item.quantity}}">{{item.quantity}}</span>

               {% endfor %}
       
        
        
        <div class="back-to-shop mt-36">
            <a href="#">&leftarrow;</a><span class="text-gray-500">Back to shop</span>
        </div>
    </div>
    <div class="summary bg-gray-300 rounded-r-lg p-4 text-gray-500">
        <h5><b>Summary</b></h5>
        <hr class="my-5">
        <div class="flex justify-between">
            <div class="w-1/2">Subtotal</div>
            <span class="w-1/2 text-right" id='subtotal'>{{subtotal}}</span>
        </div>
        {% comment %} <form>
            <p>SHIPPING</p>
            <select class="text-gray-500 bg-gray-200 w-full py-2 px-4 mb-9 outline-none">
                <option>Standard-Delivery- &euro;5.00</option>
            </select>
            <p>GIVE CODE</p>
            <input id="code" class="bg-gray-200 w-full py-2 px-4 mb-9 outline-none" placeholder="Enter your code">
        </form> {% endcomment %}
        <div class="flex justify-between border-t border-gray-200 py-5">
            <div class="w-1/2">Tax</div>
            <span class="w-1/2 text-right" id='tax'>{{tax}}</span>
        </div>
        <div class="flex justify-between border-t border-gray-200 py-5">
            <div class="w-1/2">TOTAL PRICE</div>
            <span class="w-1/2 text-right" id='grand_total'>{{grand_total}}</span>
        </div>
        
        <button class="btn bg-black border-black text-white w-full mt-9">CHECKOUT</button>
    </div>
</div>


{% endblock %}